body {
  text-align: center;
}

.title {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 8vw;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 4vw;
}

.subtitle {
  font-family: 'Poiret One', sans-serif;
  font-size: 1.5vw;
  line-height: .5;
}

.icon {
  font-size: 2.5vw;
}

a:link {
  color: black;
}

a:visited {
  color: #382544;
}

a:hover {
  color: #6ebcbf;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 7vw 7vw 7vw 7vw 7vw;
  grid-gap: 1vw;
  /* background-color: #2196F3; */
  padding: 1vw;
}

.grid-container>div {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  text-align: center;
  padding: 1vw 0;
  font-size: 30px;
}

.animation {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.shirt {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 1;
  grid-row-end: 4;
}

.logo {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.AR {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.art {
  grid-column-start: 5;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 6;
}

.games {
  grid-column-start: 11;
  grid-column-end: 14;
  grid-row-start: 4;
  grid-row-end: 6;
}

img {
  max-width: 100%;
  height: 100%;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: -60%;
  left: 0%;
  text-align: center;
}

.art_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.shirt_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.games_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.ar_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.anim_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.logo_text {
  background-color: #6ebcbf;
  color: white;
  font-size: 16px;
  padding: 2vw 2vw;
}

.art:hover .art_image {
  opacity: 0.3;
}

.art:hover .middle {
  opacity: 1;
}

.shirt:hover .shirt_image {
  opacity: 0.3;
}

.shirt:hover .middle {
  opacity: 1;
}

.games:hover .games_image {
  opacity: 0.3;
}

.games:hover .middle {
  opacity: 1;
}

.AR:hover .ar_image {
  opacity: 0.3;
}

.AR:hover .middle {
  opacity: 1;
}

.animation:hover .anim_image {
  opacity: 0.3;
}

.animation:hover .middle {
  opacity: 1;
}

.logo:hover .logo_image {
  opacity: 0.3;
}

.logo:hover .middle {
  opacity: 1;
}
